.body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

}

.appHeader{
    /* margin: 0px 0.5rem; */
    padding: 0px 0.8rem;
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ebeff35d;
  border-bottom: 0.01rem solid rgb(224, 222, 222);
}
.notificationArea{
    font-size: 14px;
    /* border: 1px solid rgb(235, 21, 21); */
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.notificationArea>div{
    display: flex;
    flex-direction: row;
    width: 20%;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid #12344D; */
}


.main{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(0, 255, 34); */
}
.sideNav{
    background-color: #12344D;
    width: 18%;
    height: 100%;
    display: flex;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    /* border-radius: 10px 0px 0px 10px; */
    /* align-items: center; */
}
.logo{
    margin: 0.5rem auto;
    width: 70%;
    height: 2.5rem;
    border-radius: 50%;
    background-color: white;
    color: #12344D;
    font-size: 1.1rem;
    display: flex;
}
.logo >p{
    font-size: 1.5rem;
    margin: 5px 15px;
}
.lowerSection{
    width: 100%;
    height: 88%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.navItem{
    width: 85%;
    margin: 0 auto;
    height: 2.2rem;
    margin-bottom: 0.5rem;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #ccc; */
    border-radius: 5px;
    cursor: pointer;
}
.navItem:hover{
    color: #12344D;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.842);
    /* border: 1px solid red; */
}
.bubbles{
    margin: 0 auto;
    display: none;
    height: 3%;
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.02rem;
    justify-content: center;
    align-items: center;

    padding: 1px ;
    cursor: pointer;
    /* border: 1px solid red; */
}
.dots{
     width: 45%;
     border-radius: 100%;
    height: 60%; 
    color: #EBEFF3;
    background-color: #ffffff;
}
.bubbles:hover{
    cursor: pointer;
}

.container{
    padding: 0;
    display: flex;
    width: 100%;
    background-color:#EBEFF3;
    height: 100%;
}
@media (min-width: 700px) {
    .notificationArea{
        width: 15%;
        /* border: 1px solid red; */
    }
    .notificationArea>div{
        width: 15%;
    }
    .sideNav{
        width: 4%;
    }
    .logo{
        width: 60%;
    }
    .navItem{
        width: 55%;
        font-size: 1.025rem;
        font-weight: 100;
        color: #fefeffe7;
    }
}

/* @media(min-width:1024px){
    .notificationArea{
        width: 15%;
    }
    .sideNav{
        width: 10%;
    }
} */