.Home{
    width: 100%;
    height: 100vh;
    background-color:#12344D;
    /* color: #12344D; */
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.signUp{

    cursor: pointer;
    width: 5rem;
    height: 2rem;
    border: 0.1rem solid white;
    outline: none;
    background-color:#d2dde2;
    border-radius: 3px;
    /* background-color: white; */
}
.copyright{
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    color: white;
    font-family: 100;
}

.copyright >p{
    letter-spacing: 2px;
    font-weight: 200;
}